<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System">
      <section name="DevExpress.LookAndFeel.Design.AppSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="AzureStorage" connectionString="DefaultEndpointsProtocol=https;AccountName=tourtrace;AccountKey=NpW5x5lc3+TJqx1tEC8+yzMR5Ej9iqV779fORA8Oc2trYg4vwCy0GeY8aQCPUt3HdaYZicgIdbdWqJugpvyxcg==" />
  </connectionStrings>
  <applicationSettings>
    <DevExpress.LookAndFeel.Design.AppSettings>
      <setting name="DefaultAppSkin" serializeAs="String">
        <value></value>
      </setting>
      <setting name="DefaultPalette" serializeAs="String">
        <value></value>
      </setting>
      <setting name="TouchUI" serializeAs="String">
        <value></value>
      </setting>
      <setting name="CompactUI" serializeAs="String">
        <value></value>
      </setting>
      <setting name="TouchScaleFactor" serializeAs="String">
        <value></value>
      </setting>
      <setting name="DirectX" serializeAs="String">
        <value></value>
      </setting>
      <setting name="RegisterUserSkins" serializeAs="String">
        <value></value>
      </setting>
      <setting name="RegisterBonusSkins" serializeAs="String">
        <value></value>
      </setting>
      <setting name="FontBehavior" serializeAs="String">
        <value></value>
      </setting>
      <setting name="DefaultAppFont" serializeAs="String">
        <value></value>
      </setting>
      <setting name="DPIAwarenessMode" serializeAs="String">
        <value>System</value>
      </setting>
      <setting name="CustomPaletteCollection" serializeAs="Xml">
        <value />
      </setting>
    </DevExpress.LookAndFeel.Design.AppSettings>
  </applicationSettings>
  <appSettings>
    <add key="OperationsServiceList_Recipients" value="mgiles@marquisoft.com" />
    <add key="OperationsServiceList_FutureDays" value="100" />
    <add key="HotelProductionReport_Recipients" value="mgiles@marquisoft.com" />
    <add key="HotelProductionReport_PastDays" value="-100" />
    <add key="ProductList_Recipients" value="mgiles@marquisoft.com" />
    <add key="InfoButtonUrl" value="http://localhost/hotelinfo/" />
    <add key="BaseUrl" value="https://www.chdestination.com/" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="MainMediaReport" value="HDGENINFO" />
    <add key="MainMediaSection" value="HDGENINFO" />
    <add key="BingMapsAPIKey" value="ArYMvmMLXeYiBI4-c2wJpjLIpm6FIRez7llCbbZPJDoIBXiO9m8pf5H_oiZPEBrR" />
    <!--for Azure-->
    <!--<add key="Data" value="tourtrace"/>-->
    <!--for local-->
    <!--<add key="Data" value="c:\tourtrace"/>-->
    <add key="ConfigSet" value="Files" />
    <!-- true to use values from app.config -->
    <add key="UseConfigSettings" value="false" />
    <add key="LogAvailabilityMessages" value="false" />
    <add key="VoucherMediaReportType" value="VOUCHER" />
    <add key="FullDescMediaReportSection" value="HDFULLDESC" />
    <add key="TermsMediaReportSection" value="HDTERMS" />
    <add key="PresalesMediaReportSection" value="HDPRESALES" />
    <add key="PromosMediaReportSection" value="HDPROMO" />
    <add key="FeaturedMediaReportSection" value="HOTDEALS" />
    <add key="FacilitiesMediaReportSection" value="HDFACILITIES" />
    <add key="RenovationsMediaReportSection" value="HDRENO" />
    <add key="DepartReturnMediaReportSection" value="DEPARTRETURN" />
    <add key="InclusionsMediaReportSection" value="INCLUDES" />
    <add key="ExclusionsMediaReportSection" value="EXCLUDES" />
    <add key="OtherInfoMediaReportSection" value="OTHERINFO" />
    <add key="ItineraryMediaReportSection" value="ITINERARY" />
    <add key="FullDescMediaReportTitles" value="Details;行程介绍" />
    <add key="TermsMediaReportTitles" value="Terms &amp; Conditions;预订条款和政策" />
    <add key="PromosMediaReportTitles" value="Special Offers;特别优惠" />
    <add key="FacilitiesMediaReportTitles" value="Facilities;表演秀细节" />
    <add key="RenovationsMediaReportTitles" value="Issues;装修" />
    <add key="PresalesMediaReportTitles" value="Highlights;销售亮点" />
    <add key="DepartReturnMediaReportTitles" value="Departure &amp; Return;出发及回程" />
    <add key="InclusionsMediaReportTitles" value="Inclusions;费用包含" />
    <add key="ExclusionsMediaReportTitles" value="Exclusions;费用不包含" />
    <add key="OtherInfoMediaReportTitles" value="Other Information;其他资讯" />
    <add key="ItineraryMediaReportTitles" value="Itinerary;行程" />
    <add key="CancellationPolicyStartDays" value="1" />
    <add key="CancellationPolicyEndDays" value="2" />
    <add key="LogAPICalls" value="true" />
    <add key="PhotosPath" value="Photos\" />
    <add key="DownloadImages" value="true" />
    <add key="OverwriteImages" value="false" />
    <add key="ResDateToUse" value="" />
    <add key="CreateNewInfoAsInHouse" value="false" />
    <add key="MissingProductsOnly" value="false" />
    <add key="ImportCancellationPolicies" value="true" />
    <add key="ImportCities" value="false" />
    <add key="ImportAmenities" value="false" />
    <add key="ImportServiceTypes" value="false" />
    <add key="ImportCategories" value="false" />
    <add key="MainAttributesOnly" value="false" />
    <add key="RemoveFromSearchAPI" value="false" />
  </appSettings>
  <system.data></system.data>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <targets>
      <target xsi:type="File" name="LogFile" fileName="${basedir}/logs/FlexOffice_${shortdate}.log" layout="================== ${date:format=yyyy-MM-dd HH\:mm\:ss.fff} ==================  ${newline} ${message}" />
      <target xsi:type="File" name="cards" fileName="${basedir}/logs/cards/FlexOffice_${shortdate}.log" layout="${longdate} ${uppercase:${level}} ${message}" />
    </targets>
    <rules>
      <logger name="*" minlevel="Trace" writeTo="LogFile" />
      <logger name="AuthorizeNet.*" minlevel="Debug" writeTo="cards" final="true" />
    </rules>
  </nlog>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>